In [1]:
import pandas as pd 
df = pd.read_csv('dating.csv')
df.head()

C:\Users\kahka\AppData\Local\Temp\ipykernel_31264\2939005836.py:2: DtypeWarning: Columns (0,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dating.csv')

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

# Data cleaning

In [2]:
df.describe()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
count,60544,54898,35610,56988,45877,53325,54461,52376,50310,48472,...,59944,24384,59944,40024,39717,59943,48887,54431,59893,59943
unique,608,134,73,32,14,39,54352,51510,48617,43525,...,200,16,4,16,45,2,48,5,7646,5
top,26,average,mostly anything,socially,never,graduated from college/university,.,enjoying it.,listening,my smile,...,"san francisco, california",doesn&rsquo;t have kids,straight,likes dogs and likes cats,agnosticism,m,gemini and it&rsquo;s fun to think about,no,english,single
freq,1985,14652,16585,41780,37724,23959,12,61,82,529,...,31064,7559,51603,14813,2723,35826,1782,43893,21828,55695

In [3]:
df.shape

(60552, 31)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60552 entries, 0 to 60551
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          60544 non-null  object
 1   body_type    54898 non-null  object
 2   diet         35610 non-null  object
 3   drinks       56988 non-null  object
 4   drugs        45877 non-null  object
 5   education    53325 non-null  object
 6   essay0       54461 non-null  object
 7   essay1       52376 non-null  object
 8   essay2       50310 non-null  object
 9   essay3       48472 non-null  object
 10  essay4       49411 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46174 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40720 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  object
 18  income       59946 non-null  object
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59944 non-null  object
 22  offspring    24384 non-null  object
 23  orientation  59944 non-null  object
 24  pets         40024 non-null  object
 25  religion     39717 non-null  object
 26  sex          59943 non-null  object
 27  sign         48887 non-null  object
 28  smokes       54431 non-null  object
 29  speaks       59893 non-null  object
 30  status       59943 non-null  object
dtypes: object(31)
memory usage: 14.3+ MB

In [5]:
df.isnull().sum()

age                8
body_type       5654
diet           24942
drinks          3564
drugs          14675
education       7227
essay0          6091
essay1          8176
essay2         10242
essay3         12080
essay4         11141
essay5         11456
essay6         14378
essay7         13057
essay8         19832
essay9         13209
ethnicity       6286
height           609
income           606
job             8804
last_online      606
location         608
offspring      36168
orientation      608
pets           20528
religion       20835
sex              609
sign           11665
smokes          6121
speaks           659
status           609
dtype: int64

In [6]:
df.dropna(inplace=True) # dropping sll null values

In [7]:
df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
19,33,athletic,mostly anything,socially,never,graduated from masters program,i relocated to san francisco half a year ago. ...,"i left my comfort zone far behind in europe, a...","listening, connecting emotionally, analyzing t...","cheerful, open, curious, direct, active, sport...",...,"san francisco, california",doesn&rsquo;t have kids,straight,likes dogs and likes cats,catholicism but not too serious about it,m,pisces and it&rsquo;s fun to think about,no,english (fluently),single
22,30,fit,mostly anything,socially,never,graduated from college/university,i tend to think the same way a comedian does a...,i'm a supply and demand manager for a sustaina...,"making predictions, planning anything (i'm pre...",that i'm smiling. pretty much at all times.,...,"san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and somewhat serious about it,m,sagittarius but it doesn&rsquo;t matter,no,"english, spanish (poorly)",single
94,29,fit,mostly anything,socially,sometimes,graduated from college/university,"my names josh, and i create art for a living. ...",living it,everything,i honestly couldn't say....,...,"san francisco, california",doesn&rsquo;t want kids,straight,likes dogs and likes cats,agnosticism and very serious about it,m,libra,no,english (fluently),single
98,31,curvy,anything,socially,sometimes,graduated from masters program,one day i will mod r/hotchickswithspreadsheets...,"presently, holyshitwhatamidoinghere and the sp...","algebra, alliteration, big spoon and little sp...",i look a lot like that chick you banged your f...,...,"san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs,atheism,f,pisces,no,english (fluently),single

In [8]:
df.isnull().sum() # rechecking null values

age            0
body_type      0
diet           0
drinks         0
drugs          0
education      0
essay0         0
essay1         0
essay2         0
essay3         0
essay4         0
essay5         0
essay6         0
essay7         0
essay8         0
essay9         0
ethnicity      0
height         0
income         0
job            0
last_online    0
location       0
offspring      0
orientation    0
pets           0
religion       0
sex            0
sign           0
smokes         0
speaks         0
status         0
dtype: int64

In [9]:
df.reset_index(drop=True, inplace=True) #resetting index

In [10]:
df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,33,athletic,mostly anything,socially,never,graduated from masters program,i relocated to san francisco half a year ago. ...,"i left my comfort zone far behind in europe, a...","listening, connecting emotionally, analyzing t...","cheerful, open, curious, direct, active, sport...",...,"san francisco, california",doesn&rsquo;t have kids,straight,likes dogs and likes cats,catholicism but not too serious about it,m,pisces and it&rsquo;s fun to think about,no,english (fluently),single
2,30,fit,mostly anything,socially,never,graduated from college/university,i tend to think the same way a comedian does a...,i'm a supply and demand manager for a sustaina...,"making predictions, planning anything (i'm pre...",that i'm smiling. pretty much at all times.,...,"san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and somewhat serious about it,m,sagittarius but it doesn&rsquo;t matter,no,"english, spanish (poorly)",single
3,29,fit,mostly anything,socially,sometimes,graduated from college/university,"my names josh, and i create art for a living. ...",living it,everything,i honestly couldn't say....,...,"san francisco, california",doesn&rsquo;t want kids,straight,likes dogs and likes cats,agnosticism and very serious about it,m,libra,no,english (fluently),single
4,31,curvy,anything,socially,sometimes,graduated from masters program,one day i will mod r/hotchickswithspreadsheets...,"presently, holyshitwhatamidoinghere and the sp...","algebra, alliteration, big spoon and little sp...",i look a lot like that chick you banged your f...,...,"san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs,atheism,f,pisces,no,english (fluently),single

In [11]:
df.shape

(4405, 31)

# Standardize Categorical Data

In [12]:
# Standardizing categorical fields
categorical_columns = ['diet', 'body_type', 'education', 'drugs', 'smokes']

# Convert to lowercase and strip spaces
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.str.lower().str.strip())

# Replace inconsistencies manually if needed
df['diet'].replace({'strictly any': 'strict', 'mostly oth': 'mostly other'}, inplace=True)
df['body_type'].replace({'a little extr': 'a little extra'}, inplace=True)
df['education'].replace({'working on': 'in progress', 'graduated from masters program': 'masterâ€™s degree'}, inplace=True)
df['drugs'].replace({'never': 'no', 'sometimes': 'occasional'}, inplace=True)
df['smokes'].replace({'sometimes': 'occasional', 'no': 'never'}, inplace=True)

# Fix Encoding Issues in Text Fields

In [13]:
# List of essay columns
essay_cols = ['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9']

# Fix encoding issues and remove HTML tags
import html

for col in essay_cols:
    df[col] = df[col].astype(str)  # Convert to string
    df[col] = df[col].apply(lambda x: html.unescape(x))  # Fix encoding issues
    df[col] = df[col].str.replace(r'<br\s*/?>', ' ', regex=True)  # Remove HTML tags

# Separate Multiple Categories

In [14]:
# Split ethnicity into multiple binary columns
ethnicities = df['ethnicity'].str.get_dummies(sep=', ')
df = pd.concat([df, ethnicities], axis=1)

# Drop the original ethnicity column
df.drop(columns=['ethnicity'], inplace=True)

# Convert Numerical Fields to Proper Formats

In [15]:

# Convert to numeric, forcing errors to NaN if necessary
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['income'] = pd.to_numeric(df['income'], errors='coerce')
df['height'] = pd.to_numeric(df['height'], errors='coerce')

# Final cleanup

In [16]:
df.drop_duplicates(inplace=True)  # Remove duplicates
df.reset_index(drop=True, inplace=True)  # Reset index

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4405 entries, 0 to 4404
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               4405 non-null   int64
 1   body_type         4405 non-null   object
 2   diet              4405 non-null   object
 3   drinks            4405 non-null   object
 4   drugs             4405 non-null   object
 5   education         4405 non-null   object
 6   essay0            4405 non-null   object
 7   essay1            4405 non-null   object
 8   essay2            4405 non-null   object
 9   essay3            4405 non-null   object
 10  essay4            4405 non-null   object
 11  essay5            4405 non-null   object
 12  essay6            4405 non-null   object
 13  essay7            4405 non-null   object
 14  essay8            4405 non-null   object
 15  essay9            4405 non-null   object
 16  height            4405 non-null   float64
 17  income            4405 non-null   int64
 18  job               4405 non-null   object
 19  last_online       4405 non-null   object
 20  location          4405 non-null   object
 21  offspring         4405 non-null   object
 22  orientation       4405 non-null   object
 23  pets              4405 non-null   object
 24  religion          4405 non-null   object
 25  sex               4405 non-null   object
 26  sign              4405 non-null   object
 27  smokes            4405 non-null   object
 28  speaks            4405 non-null   object
 29  status            4405 non-null   object
 30  asian             4405 non-null   int64
 31  black             4405 non-null   int64
 32  hispanic / latin  4405 non-null   int64
 33  indian            4405 non-null   int64
 34  middle eastern    4405 non-null   int64
 35  native american   4405 non-null   int64
 36  other             4405 non-null   int64
 37  pacific islander  4405 non-null   int64
 38  white             4405 non-null   int64
dtypes: float64(1), int64(11), object(27)
memory usage: 1.3+ MB